* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  font-family: 'Great Vibes', cursive;
  font-weight: 100;
  font-size: 40px;
  color: #fff;
}

.container {
  max-width: 1000px;
  width: 80%;
  margin: 50px auto;
}

h1 {
  font-weight: normal;
  text-align: center;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.text {
  animation-name: texto;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes texto {
  0% {
    opacity: 0;
    margin-top: -20px;
    letter-spacing: 0px;
  }

  50% {
    opacity: 1;
    margin-top: 0px;
    letter-spacing: 10px;
  }

  65% {
      opacity: 1;
      margin-top: 0px;
      letter-spacing: 0px;
  }

  75% {
    opacity: 1;
    margin: 0;
    letter-spacing: 5px;
  }

  100% {
    letter-spacing: 0px;
  }
}